main {
    margin-top: 70px;
}
a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.main__banner--shop {
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    height: 85vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.details-shop {
    background-color: #fff;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-shops {
    width: 480px;
    height: 300px;
    position: relative;
    float: left;
}
.img-shops img{
    width: 100%;
    height: 100%;
}
.details-shops-info {
    color: #252525;
    float: right;
    width: 645px;
    padding-bottom: 15px;
    margin-left: 70px;
    margin-top: 10px;
}
.kind-shops {
    font-size: 11px;
    color: #959595;
    text-transform: uppercase;
    display: flex;
}
.name-shop {
    font-size: 22px;
    color: #464646;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 33px;
}
.location {
    font-size: 13px;
    margin-bottom: 2px;
}
.rating {
    margin-bottom: 4px;
    font-size: 14px;
    vertical-align: middle;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.stars {
    font-size: 14px;
    color: #ffc107;
    display: inline-block;
    line-height: 8px;
}
.rating .stars span {
    padding-right: 2px;
}
.rating .number-rating {
    background-color: #ffc107;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    margin: 0 5px;
}
.view-more-rating {
    margin-bottom: 4px;
}
.number-review {
    font-size: 14px;
}
.status-shop {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.open-time .stt {
    width: inherit;
    height: inherit;
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
}
.stt:after {
    content: attr(title);
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
    color: inherit;
    padding-left: 5px;
}
.stt:before {
    content: "";
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: relative;
    top: -1px;
    z-index: 2;
}
.online:before {
    background-color: #6cc942;
}
.online {
    background-color: #6cc942;
    color: #329900;
}
.time {
    font-size: 15px;
    padding-left: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.time-open-close {
    padding-left: 6px;
}
.cost-shop {
    display: flex;
    align-items: center;
}
.cost-shop span {
    margin-left: 5px;
}
.utility-shop{
    margin-top: 35px;
    border-top: 1px solid #ebebeb;
}
.utility-item:first-child {
    padding-left: 0;
}
.utility-item{
    float: left;
    width: 140px;
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
}
.utility-title {
    color: #959595;
    font-size: 13px;
    text-transform: uppercase;
}
.utility-content {
    font-size: 14px;
}
.txt-red, .txt-red-dark {
    color: #ee4d2d!important;
}
.txt-bold {
    font-weight: 700!important;
}
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon-partner-vi {
    background-image: url(https://shopeefood.vn/app/assets/img/partner-vi.png?dec00ea8fc6f5429f18e83d16c3685f8);
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
    width: 116px;
    height: 44px;
}
.card {
    margin-left: 5px;
}

/* section show produc shops */

.section-categories {
    font-family: Noto Sans,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}
.title-categories {
    font-weight: 700;
    color: #cf2127;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 26px;
}
.menu-shop-categories {
    border: 1px solid #ebebeb;
    padding: 15px 5px 15px 15px;
    width: 235px;
    margin-right: 10px;
    background: #fff;
    border-radius: 4px;
}
.list-categories {
    margin-bottom: 0;
}
.item-categories {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    padding: 2px 0;
    text-decoration: none;
}
.item-categories a {
    color: #464646;
    font-weight: 500;
}
.menu-shop-details {
    background-color: #fff;
    padding: 10px;
}
.image-product-lits {
    width: 100px;
    height: 70px;
}
.title-list-product {
    text-transform: uppercase;
    color: #6d6f71;
    padding: 25px;
    margin-top: 10px;
    margin: 10px 0 20px;
}
.table {
    padding: 0px 20px;
}
.table tr td {
    align-items: center;
}
.td-name-product {
    width: 500px;
    color: #464646;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #6d6f71;
}
.current-price {
    font-size: 16px;
    font-weight: 700;
    color: #0288d1;
}
/* modal */
.btn-modal {
    border: none;
}
.modal-body {
    padding: 0px;
}
.image-modal {
    width: 100%;
    height: 100%;
}
.info-product-modal {
    position: absolute;
    background-color: rgb(0, 0, 0 ,.8);
    width: 100%;
    bottom: 0px;
    color: #fff;
    padding: 10px;
}
.info-product-modal p {
    margin-bottom: 2px;
}
.modal-footer {
    justify-content: center;
}
.modal-footer .btn {
    width: 50%;
    font-size: 16px;
}

/* Cart */
.session-cart {
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #000;
    background: #f4f4f4;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 0;
}
.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: 0;
    margin-top: var(--bs-gutter-y);
}
a {
    text-decoration: none;
    color:#000;

}
.left-content {
    background-color: #f4f4f4;
    margin:0;
    padding: 0;
}

.package {
    margin-top: 12px;
}
.package-title {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 14px;
    color: #757575;
    background-color: #fafafa;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.package-title-left {
    font-weight: bold;
    margin-right: 37px;
    text-align: left;
    line-height: 16px;
    font-size: 14px;
    color: #202020;
}
.package-title-right  {
    padding-right: 15px;
}
.product {
    margin-top: 10px;
    background-color: #fff;
}
.cart-title p {
    font-size: 14px;
    color: #212121;
    padding: 10px;
    margin-bottom: 0;
}
.product hr {
    margin:0;
    color: rgb(117, 117, 117);;
}
.cart-item {
    display: table;
    width: 100%;
    background-color: #fff;
    margin-top: 18px;
    padding-bottom: 18px;
    padding: 10px 0;
}
.cart-item-left {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 156px - 139px);
    padding-left: 10px;
}
.image {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 12px;
}
.cart-item-left .content {
    display: inline-block;
    width: 364px;
}
.cart-item-left .content .title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    width: 100%;
    max-height: 32px;
    padding-left: 0;
    font-size: 14px;
    color: #212121;
}
.cart-item-left .content .sku {
    margin-top: 6px;
    font-size: 12px;
    color: #757575;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
}
.cart-item-middle {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding-left: 9px;
    text-align: center;
}
.cart-item-middle .current-price {
    font-size: 18px;
    line-height: 28px;
    color: #f57224;
    font-weight: 500;
    margin-bottom: 4px;
}
.cart-item-middle .action {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-bottom: 8px;
    text-align: center;
}
.cart-item-middle .action svg {
    margin-right: 10px;
}
.cart-item-right {
    display: table-cell;
    vertical-align: top;
    width: 139px;
    text-align: center;
    padding-right: 20px;
}
.item-quantity-prefix {
    font-size: 14px;
    color: #757575;
    vertical-align: middle;
}
.item-quantity-values {
    font-size: 16px;
    color: #202020;
    font-weight: 500;
    vertical-align: middle;
}
.right-content {
    background-color: #ffff;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
}
.address .title {
    font-size: 14px;
    color: #9e9e9e;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 11px;
}
.info-address {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 7px;
}
.info-address span{
    font-size: 12px;
    padding-left: 10px;
}
.price-origin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-origin .text {
    font-size: 14px;
    color: #757575;
    letter-spacing: 0;
    line-height: 21px;
    padding: 5px;
    margin: 0;
}
.price-origin .price {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    padding: 5px;
    margin: 0;
}
.order button {
    margin-top: 10px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.selectQuantity {
    display: flex;
}
.selectQuantity button {
    width: 35px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
    cursor: pointer;
}
#amount {
    width: 40px;
    text-align: center;
    border: 1px solid #ececec;
}
.selectQuantity button:hover {
    background-color: #909090;
}