/* reset */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.imgDetail {
  border-radius: 12px;
  width: 450px;
  margin-left: 100px;
  height: 400px;
}

/* Index */

html {
  font-family: Arial, sans-serif;
}


.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.back-top {
  position: fixed;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: #959595;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0d6efd;
}

p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

h1 {
  margin: 0px;
  color: #fff;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 15px;
  color: #fff;
  margin: 0px;
}

h4 {
  font-size: 15px;
  font-weight: inherit;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  opacity: 0.9;
}

.my-20 {
  margin: 20px 0 !important;
}

.text-center {
  display: flex;
  align-self: start;
  flex-direction: column;
}

.text-end {
  display: flex;
  align-items:flex-end;
  flex-direction: column;
}

.text-orage {
  color: #ee4d2d;
}

.text-blue {
  color: #0288d1;
}

.text-lightblue {
  font-style: bold !important;
  color: #4d77a2;
}


.navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 15px 30px;
  z-index: 1000;
  top: 0;
}

.navbar--container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px !important;
  margin: 0 auto !important;
}

.navbar--left,
.navbar--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__logo {
  height: 30px;
  margin-right: 30px;
}

.navbar--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login,
.login--btn {
  margin-left: 10px;
}

.navbar__menu--toggle {
  margin-left: 10px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__location {
  font-size: 14px;
  padding: 10px 20px;
  background-color: rgb(222, 220, 220);
  border-radius: 5px;
  color: #252525;
}

.navbar--categories {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.navbar--categories .nav--item {
  padding: 0 10px;
}

.navbar--categories .nav--item .active {
  padding-bottom: 5px;
  font-weight: bold;
  color: #ee4d2d;
  border-bottom: 3px solid #ee4d2d;
}

.nav--item .nav--link {
  color: #252525;
  font-size: 15px;
}

.nav--item .nav--link:hover {
  color: #ee4d2d;
}


.login {
  padding: 8px;
  border-radius: 3px;
  margin: 0px 15px;
  border: 1px solid #ee4d2d;
}

.login .login--btn {
  color: #ee4d2d;
}

.navbar__menu--toggle {
  display: none;
}

.main__banner {
  display: flex;
  align-items: center;
  padding: 68px 75px 0;
  background-image: url(/public/images/main-banner.jpg);
  background-size: cover;
  height: 100vh;
}

.imageproductinhomepage {
  width: 100%;
  /* Đảm bảo rằng hình ảnh nằm trong khung div */
  height: auto;
  /* Đảm bảo tỷ lệ khung hình không bị méo */
  object-fit: cover;
  /* Cắt hình ảnh để điều chỉnh kích thước */
}


.main__banner--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__banner--search {
  min-width: 30%;
}

.main__banner--input {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 20px 0;
}

.main__banner--input>input {
  padding: 20px 10px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: none;
}

.main__banner--input .btn-primary {
  width: 75px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #0288d1;
  color: #fff;
}

.main__banner--input .btn-primary:hover {
  background-color: #75c9f6
}

.main__list--search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main__list--item {
  margin: 10px 10px 10px 0px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.main__list--item:hover {
  background-color: #fff;
}

.main__list--item:hover h3 {
  color: #000;
}

.main__banner--app {
  display: flex;
  justify-content: space-evenly;
  height: 50px
}

.main__banner--app img {
  height: 100%;
}

.nameitemsinhomepage {
  color: black;
  margin-top: 7px;
  margin-left: 10px;

}

.main__banner--restaurant {
  flex: 5;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 30px;
  background-color: #fff;
  height: 650px;
  overflow: auto;
  -ms-overflow-style: none;
  min-height: 400px;
}


.main__banner--endow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  max-height: 50px;
}

.main__banner--endow>a {
  color: #0288d1;
}

.main__banner--endow i {
  margin-right: 5px;
}

/* .allitems{
  display: flex;
  align-items: center;
} */

.main__banner--item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 27%;
  min-width: 200px;
  height: 295px;
  float: left;
  animation: slideInRight 0.5s ease-in-out forwards;
  margin: 15px 0 0 25px;

}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


.main__banner--item .stocking {
  position: absolute;
  color: #239839;
}

.main__banner--item .favorite {
  padding: 3px 5px;
  background-color: #f13233;
  position: absolute;
  bottom: 5.8rem;
}

.main__banner--item .name-and-address {
  padding: 10px;
  color: black;
}

.main__banner--item .discount {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
}

.main__banner--item .icon-discount {
  color: #cf2127;
  margin-right: 5px;
}

.main__banner--item:hover {
  box-shadow: 0 2px 10px;
}

.introduction__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.now__corporation {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(50 50 50 / 10%);
  border-radius: 5px;
}

.now__corporation--preservation {
  height: 100%;
  padding: 50px 0px 50px 150px;
}

.now__corporation .merchant-app {
  width: 75%;
}

.now__corporation .img-reg-merchant {
  height: 300px;
}

.now__corporation .img-reg-merchant img {
  height: 100%;
}

.now__corporation .img-deliverynow {
  margin-top: 20px;
  margin-left: 20px;
  width: 170px;
}

footer {
  padding: 30px 75px;
  background-color: #f2f2f2;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer--introduce>li {
  margin: 10px 0;
}

.footer--introduce a:hover {
  color: #ee4d2d;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__copyright--shoppe {
  width: 100px;
  cursor: pointer;
}

.footer__copyright--shoppe>img {
  width: 100%;
}

.footer__copyright--icon {
  display: flex;
  padding: 10px;
}

.facebook,
.instagram {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #959595;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.facebook:hover {
  background-color: #0288d1;
}

.instagram:hover {
  background-color: #ba30a7;
}

.link-icon {
  display: flex;
  justify-content: space-around;
}

.link-icon .icon {
  font-size: 16px;
  line-height: 30px;
}

.img-bocongthuong {
  width: 170px;
  cursor: pointer;
}

.img-bocongthuong img {
  width: 100%;
}

@media (max-width: 1199.98px) {

  .navbar__menu--toggle {
    display: block;
    margin-left: 15px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .navbar__location,
  .navbar--categories {
    display: none;
  }

  .main__banner {
    display: block;
    padding: 0 20px 40px;
    margin-top: 84px;
    height: 100%;
  }

  .main__banner--content {
    display: block;
    padding: 20px 0;
  }

  .now__corporation {
    width: 94%;
    padding: 0;
    margin: 20px;
    flex-direction: column;
  }

  .now__corporation .merchant-app {
    width: 100%;
  }

  .now__corporation--preservation {
    padding: 10px 30px;
  }
}

@media (max-width: 576px) {
  .login {
    font-size: 11px;
    margin: 0 5px;
    padding: 5px;
    min-width: 70px;
    text-align: center;
  }

  .fa-shopping-cart {
    margin-right: 10px;
  }

  .navbar {
    padding: 15px;
  }

  .navbar__menu--toggle {
    margin-left: 0;
  }

  .main__list--search {
    display: none;
  }



  .main__banner--item {
    width: 40%;
  }

  .main__banner--item .favorite {
    bottom: 7.5rem;
    left: 0;
    font-size: 11px;
  }

  footer {
    padding: 10px;
    align-content: center;
    justify-content: center;
  }

  .footer__container {
    flex-direction: column;
    text-align: -webkit-center;
  }

  .text-end {
    align-items: center;
  }
}

/* register */
html {
  font-family: Arial, sans-serif;
}


.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.back-top {
  position: fixed;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: #959595;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0d6efd;
}

p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

h1 {
  margin: 0px;
  color: #fff;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 15px;
  color: #fff;
  margin: 0px;
}

h4 {
  font-size: 15px;
  font-weight: inherit;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  opacity: 0.9;
}

.my-20 {
  margin: 20px 0 !important;
}


.text-center {
  text-align: center !important;
}

.text-end {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.text-orage {
  color: #ee4d2d;
}

.text-blue {
  color: #0288d1;
}

.text-lightblue {
  font-style: bold !important;
  color: #4d77a2;
}


.navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 15px 30px;
  z-index: 1000;
  top: 0;
}

.navbar--container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px !important;
  margin: 0 auto !important;
}

.navbar--left,
.navbar--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__logo {
  height: 30px;
  margin-right: 30px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__location {
  font-size: 14px;
  padding: 10px 20px;
  background-color: rgb(222, 220, 220);
  border-radius: 5px;
  color: #252525;
}

.navbar--categories {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.navbar--categories .nav--item {
  padding: 0 10px;
}

.navbar--categories .nav--item .active {
  padding-bottom: 5px;
  font-weight: bold;
  color: #ee4d2d;
  border-bottom: 3px solid #ee4d2d;
}

.nav--item .nav--link {
  color: #252525;
  font-size: 15px;
}

.nav--item .nav--link:hover {
  color: #ee4d2d;
}


.login {
  padding: 8px;
  border-radius: 3px;
  margin: 0px 15px;
  border: 1px solid #ee4d2d;
  text-align: center;
}

.login .login--btn {
  color: #ee4d2d;
}

.formLogin__container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.loginShoppe {
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
}

.formLogin__title {
  padding-bottom: 15px;
}

.btnSignUp {
  border-radius: 5px;
  line-height: 2;
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 35px;
  margin: 10px auto;


}

.icon-contact {
  font-size: 25px;
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
}

.btnsignup:hover {
  opacity: 0.8;
}

.phoneNumber {
  background-color: #329900;
}

.loginFacebook {
  background-color: #187caa;
}

.loginGoogle {
  background-color: #ff5252;
}

.userNamePassword input {
  height: 50px;
  width: 100%;
  padding-left: 40px;
}

.forgetPass {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btnSubmit {
  width: 100%;
  background-color: #0d6efd;
  border: none;
  height: 36px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 15px 0;
}

.btnSubmit:hover {
  opacity: 0.8;
}

.formLogin--icon {
  opacity: 0.8;
  position: relative;
  top: 35px;
  left: -46%;
}


.rules {
  margin: 30px 0px;
}

/* footer */
footer {
  padding: 30px 75px;
  background-color: #f2f2f2;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer--introduce>li {
  margin: 10px 0;
}

.footer--introduce a:hover {
  color: #ee4d2d;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__copyright--shoppe {
  width: 100px;
  cursor: pointer;
}

.footer__copyright--shoppe>img {
  width: 100%;
}

.footer__copyright--icon {
  display: flex;
  padding: 10px;
}

.facebook,
.instagram {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #959595;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.facebook:hover {
  background-color: #0288d1;
}

.instagram:hover {
  background-color: #ba30a7;
}

.link-icon {
  display: flex;
  justify-content: space-around;
}

.link-icon .icon {
  font-size: 16px;
  line-height: 30px;
}

.img-bocongthuong {
  width: 170px;
  cursor: pointer;
}

.img-bocongthuong img {
  width: 100%;
}

@media (max-width: 1199.98px) {
  .wrapper {
    background-color: #fff;
  }

  .navbar__location,
  .navbar--categories {
    display: none;
  }

  footer {
    display: none;
  }
}

@media (max-width: 576px) {
  .login {
    font-size: 11px;
    margin: 0 5px;
    padding: 5px;
    min-width: 70px;
    text-align: center;
  }

  .formLogin__container {
    padding-top: 50px;
  }
}

/* login */

html {
  font-family: Arial, sans-serif;
}


.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.back-top {
  position: fixed;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: #959595;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0d6efd;
}

p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

h1 {
  margin: 0px;
  color: #fff;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 15px;
  color: #fff;
  margin: 0px;
}

h4 {
  font-size: 15px;
  font-weight: inherit;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  opacity: 0.9;
}

.my-20 {
  margin: 20px 0 !important;
}


.text-center {
  text-align: center !important;
}

.text-end {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.text-orage {
  color: #ee4d2d;
}

.text-blue {
  color: #0288d1;
}

.text-lightblue {
  font-style: bold !important;
  color: #4d77a2;
}



.navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 15px 30px;
  z-index: 1000;
  top: 0;
}

.navbar--container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px !important;
  margin: 0 auto !important;
}

.navbar--left,
.navbar--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__logo {
  height: 30px;
  margin-right: 30px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__location {
  font-size: 14px;
  padding: 10px 20px;
  background-color: rgb(222, 220, 220);
  border-radius: 5px;
  color: #252525;
}

.navbar--categories {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.navbar--categories .nav--item {
  padding: 0 10px;
}

.navbar--categories .nav--item .active {
  padding-bottom: 5px;
  font-weight: bold;
  color: #ee4d2d;
  border-bottom: 3px solid #ee4d2d;
}

.nav--item .nav--link {
  color: #252525;
  font-size: 15px;
}

.nav--item .nav--link:hover {
  color: #ee4d2d;
}


.login {
  padding: 8px;
  border-radius: 3px;
  margin: 0px 15px;
  border: 1px solid #ee4d2d;
  text-align: center;
}

.login .login--btn {
  color: #ee4d2d;
}

.formLogin__container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.loginShoppe {
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
}

.formLogin__title {
  padding-bottom: 15px;
}

.btnSignUp {
  border-radius: 5px;
  line-height: 2;
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 35px;
  margin: 10px auto;


}

.icon-contact {
  font-size: 25px;
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
}

.btnSignUp:hover {
  opacity: 0.8;
}

.phoneNumber {
  background-color: #329900;
}

.loginFacebook {
  background-color: #187caa;
}

.loginGoogle {
  background-color: #ff5252;
}

.userNamePassword input {
  height: 50px;
  width: 100%;
  padding-left: 40px;
}

.forgetPass {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btnSubmit {
  width: 100%;
  background-color: #0d6efd;
  border: none;
  height: 36px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 15px 0;
}

.btnSubmit:hover {
  opacity: 0.8;
}

.formLogin--icon {
  opacity: 0.8;
  position: relative;
  top: 35px;
  left: -46%;
}


.rules {
  margin: 30px 0px;
}

/* footer */
footer {
  padding: 30px 75px;
  background-color: #f2f2f2;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer--introduce>li {
  margin: 10px 0;
}

.footer--introduce a:hover {
  color: #ee4d2d;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__copyright--shoppe {
  width: 100px;
  cursor: pointer;
}

.footer__copyright--shoppe>img {
  width: 100%;
}

.footer__copyright--icon {
  display: flex;
  padding: 10px;
}

.facebook,
.instagram {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #959595;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.facebook:hover {
  background-color: #0288d1;
}

.instagram:hover {
  background-color: #ba30a7;
}

.link-icon {
  display: flex;
  justify-content: space-around;
}

.link-icon .icon {
  font-size: 16px;
  line-height: 30px;
}

.img-bocongthuong {
  width: 170px;
  cursor: pointer;
}

.img-bocongthuong img {
  width: 100%;
}

@media (max-width: 1199.98px) {
  .wrapper {
    background-color: #fff;
  }

  .navbar__location,
  .navbar--categories {
    display: none;
  }

  footer {
    display: none;
  }
}

@media (max-width: 576px) {
  .login {
    font-size: 11px;
    margin: 0 5px;
    padding: 5px;
    min-width: 70px;
    text-align: center;
  }

  .formLogin__container {
    padding-top: 50px;
  }
}


/* Button */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {

  height: 100%;
  place-items: center;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  display: inline-flex;
  background: #f2f2f2;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .option {
  background: #f2f2f2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #f2f2f2;
  transition: all 0.3s ease;
}

.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
  border-color: #0069d9;
  background: #0069d9;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
  background: #f2f2f2;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 20px;
  color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
  color: #f2f2f2;
}

/* css product detail */
.details-product {
  margin-top: 85px;
  margin-bottom: 50px;
  background-color: #fff;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cost-product {
  color: red;
}

.old-price-product {
  color: red;
  font-size: 16px;
}

.promotion-price {
  margin-left: 10px;
}

.kind-product {
  color: #959595;
  text-transform: uppercase;
  display: flex;
  font-size: 13px;
}

.Description p {
  font-size: 17px;
}

.imageproductinhomepage {
  width: 200px;
  height: 200px;
}
.rating-product{
  margin-top: 10px;
  font-size: 14px;
  vertical-align: middle;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.rating-product .number-rating {
  background-color: #ffc107;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
  margin: 0 5px 5px 5px;
}
/* css cho suggested products */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Mỗi hàng chứa 4 cột có chiều rộng bằng nhau */
  gap: 20px; /* Khoảng cách giữa các card */
  margin-bottom: 40px;
  margin-top: 15px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(227, 225, 225);
  border-radius: 9px;
}

.product-item a {
  text-decoration: none;
  color: inherit;
}

.product-item img {
  max-width: 100%;
  border-radius: 5px;
}

.product-item span {
  font-weight: bold;
  color: red;
}

.name{
  font-size: 16px;
  color: black;
  margin-top: 8px;
  font-family: sans-serif;
}
.price{
  color: rgb(249, 117, 117);
}